<header id="header" class="header-section image-center" style="background-image: url('{{"/img/wallpaper-01.jpg" | prepend: site.baseurl }}');">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 header-text">
        <h1>ROSSI BINNA AG</h1>
        <p>DESIGN-SCHREINEREI & INNENAUSBAU</p>
      </div>
    </div>

  </div>
  <div class="portfolio-hint">
    <a href="#portfolio" class="btn btn-default page-scroll">
      <h3>Portfolio</h3>
      <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </a>
  </div>
</header>
