<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">

  <meta name="keywords" content="Schreinerei, Brandschutz, Innenarchitektur, Brandschutztür, Steigzonen, Bauleitung, Bäder, Küchen, Schränke, Tische, Türen, Wände, Gartenlounge, Terrassendielen">

  <link rel="stylesheet" href="{{ "/css/font-awesome.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="shortcut icon" type="image/png" href="{{ "/favicon.png" | prepend: site.baseurl }}" >

  {% seo %}
</head>
